<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Blog Post</title>
    <link rel="stylesheet" href="/css/singleBlog.css">
</head>
<style>
   
</style>
<body>
    <header>
        <h1>Single Blog Section</h1>
    </header>
    <nav>
        <a href="/<%- chekUserData[0].userId %>">Show Blogs</a>
    </nav>
    <main>
        <article class="blog-post">
            <% const updatedAt = new Date(chekUserData[0].updatedAt); %>
<p class="blog-meta">Posted by <b style="color: black;"><%- userName[0].name %></b> on <%= updatedAt.toLocaleDateString('en-US', {day: '2-digit', month: 'long', year: 'numeric' }) %></p>
 <br>
            <h2  style="display:inline-block ;"> <%- chekUserData[0].title %></h2> 
            <button style="float:right; margin-left: 10px;"><p style="font-size: 15px ;"><a href="/updateBlog/<%- chekUserData[0].id %>">Edit</a></p></button>
            <button style="float:right ;"><p style="font-size: 15px ;"><a href="/deleteBlog/<%- chekUserData[0].id %>">Delete</a></p></button>
            <h4><%- chekUserData[0].subtitle %></h4>
            <p class="blog-content">
                <%- chekUserData[0].description %>
            </p>
        </article>
    </main>
</body>
</html>
