<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog Post</title>
    <link rel="stylesheet" href="/css/updateBlog.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .alert {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    </style>
</head>
<body>

    <header>
        <h1>Update a Blog Post</h1>
    </header>
    <div id="alerts">
        <% if (message != '' && message) { %>
            <div class="alert alert-<%- color %> alert-dismissible fade show" role="alert">
                <strong><%- message %></strong>
                <button type="button" onclick="close" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        </div>

    <div class="container">
        <form action="/updateBlog/<%- blogPostId[0].id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" value="<%- blogPostId[0].title %>" name="uptitle" required>
            </div>

            <div class="form-group">
                <label for="subtitle">Subtitle:</label>
                <input type="text" id="subtitle" value="<%- blogPostId[0].subtitle %>" name="upsubtitle">
            </div>

            <div class="form-group">
                <label for="image">Subtitle:</label>
                <input type="file" id="image" name="image">
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="updescription" rows="4" required><%- blogPostId[0].description %></textarea>
            </div>

            <div class="form-group">
                <button type="submit">Update Blog Post</button>
                <button style="margin-left:20px; background-color:thistle;">

                    <a href="/singleBlog/<%- blogPostId[0].id %>" style=" color: rgb(0, 0, 0);">Cancel</a>
                </button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        setTimeout(function() {
           const alert = document.getElementById('alerts');
           if (alert) {
               alert.style.display = 'none';
           }
       }, 3000);
   </script>
</body>
</html>
